@model List<TaskManagerAPI.Dtos.TaskDto>


@{
    ViewData["Title"] = "Task List";
}

<a asp-action="CreateTask" class="btn btn-primary m-2">+ Add new</a>

<!-- Filters Form -->
<form method="get">
    <div class="row mt-2">
        <div class="col-md-3">
            <div class="input-group">
                <input class="form-control" type="text" name="searchText" placeholder="Search by Title">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-3">
            Create:
            <div class="input-group">
                <input class="form-control" type="date" name="createFilter">
            </div>
        </div>
        <div class="col-md-3">
            Due:
            <div class="input-group">
                <input class="form-control" type="date" name="completeFilter">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>

    <div class="form-inline d-flex align-items-center flex-wrap mt-3">
        <select class="form-control custom-select w-25 mr-2" name="typeFilter">
            <option value="">-- Select Type --</option>
            <option value="Feature">Feature</option>
            <option value="Bug">Bug</option>
            <option value="Documentation">Documentation</option>
        </select>

        <select class="form-control custom-select w-25 m-2" name="priorityFilter">
            <option value="">-- Select Priority --</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>

        <select class="form-control custom-select w-25 m-2" name="statusFilter">
            <option value="">-- Select Status --</option>
            <option value="1">Not Yet</option>
            <option value="2">In Progress</option>
            <option value="3">Done</option>
        </select>

        <select class="form-control custom-select w-25" name="createByFilter">
            <option value="">-- Select Create By --</option>
            <option value="1">Nhân Đoàn</option>
            <option value="3">Tuấn Linh</option>
            <option value="4">Mai Giang</option>
            <option value="5">Nguyễn Nam</option>
            <option value="6">Xuân Mạnh</option>
        </select>

        <button type="submit" class="btn btn-primary m-3">Apply Filters</button>
    </div>
</form>

@if (Model != null && Model.Any())
{
    <div class="row g-0">
        @foreach (var task in Model)
        {
            <div class="card col-3 m-2">
                <div class="card-header">
                    <span class="badge bg-secondary">Task</span> -

                    @{
                        string badgeColor = task.StatusName switch
                        {
                            "Not Yet" => "badge bg-danger",
                            "In Progress" => "badge bg-warning text-dark",
                            "Done" => "badge bg-success",
                            _ => "badge bg-secondary"
                        };
                    }

                    <span class="@(badgeColor)">@task.StatusName</span><br />
                    <a asp-controller="Task" asp-action="Update" asp-route-id="@task.TaskId" class="link-dark text-decoration-none">
                        <strong>@task.Title</strong>
                    </a>
                    <br />
                    <small><strong>@task.UserFullName</strong></small>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@task.Description</h5>
                </div>
                <div class="card-footer text-muted">
                    <small>@task.StartDate</small>

                    @{
                        string badgeColor2 = task.PriorityName switch
                        {
                            "Low" => "badge bg-success",
                            "Medium" => "badge bg-warning text-dark",
                            "High" => "badge bg-danger",
                            _ => "badge bg-secondary"
                        };
                    }
                    <span class="badge @(badgeColor2)">@task.PriorityName</span>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="text-center">No data to display</p>
}
